html, body {
height: 100%;
width: 100%
}

.top-wrapper {
	height: 100%;
	width: 100%;
	background-color: #f5f6ce;
}

.schedule-view {
	float: left;
	display: inline-block;
	height: 100%;
	width: 29.5%;
	border: 1px solid #a4a4a4;
	background-color: white;
}

.schedule-view-main {
	height: 97%;
	border: 1px solid #a4a4a4;
	background-color: #b8b8b8;
}

#schedule-date {
	font-size: 40px;
}

.schedule-space {
	margin-top: 20px;
}

.accordion-trigger {
	cursor: default;
	color: blue;
	font-size: 20px;
}

.accordion-trigger:hover {
	color: #0000CC;
	font-size: 21px;
}

.accordion-mark {
	display: inline-block;
}

.schedule-time {
	border-bottom: 1px solid blue;
	display: inline-block;
}

.accordion-content {
	margin: 10px 10px 0 20px;
	display: none;
}

.schedule-content {
	border: 1px solid black;
	font-size: 20px;
	height: 200px;
}

.schedule-button {
	margin: 10px 0 0 0;
	text-align: right;
}

.schedule-button input {
	width: 90px;
}

.ui-dialog {
	width:500px;
}

.calendar-view {
	float: right;
	display: inline-block;
	height: 100%;
	width: 70%;
	border: 1px solid #a4a4a4;
	position: relative;
}

.month-view {
	top: 20px;
	left: 50px;
	position: absolute;
}

.login {
	top: 20px;
	right: 130px;
	position: absolute;
}

.registration {
	top: 20px;
	right: 30px;
	position: absolute;
}

table {
	border-collapse: collapse;
	position: absolute;
	top: 60px;
	left: 50px;
	height: 80%;
	width: 90%;
	background-color: white;
	border: 2px solid black;
}

th {
	height: 8%;
	color: black;
	border: 2px solid black;
}

.sunday {
	background-color: #f79f81;
}
.monday {
	background-color: #848484;
}
.tuesday {
	background-color: #fe2e2e;
}
.wednesday {
	background-color: #81bef7;
}
.thursday {
	background-color: #31b404;
}
.friday {
	background-color: #ffff00;
}
.saturday {
	background-color: #dba901;
}

td {
	font-size: 30px;
	color: #0101ddf;
	vertical-align: top;
}

#date {
	background-color: #b8b8b8;
}