html, body {
height: 100%;
width: 100%
}

.top-wrapper {
	height: 100%;
	width: 100%;
	background-color: #f5f6ce;
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.flash_message {
	animation-name: fade-out;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	position: absolute;
	top: 30%;
	left: 50%;
	border: 1px solid #999999;
	z-index: 10;
	padding: 10px;
	font-size: 40px;
	background-color: white;
	
}

.top-header {
	height: 5%;
	width: 97.5%;
	display: flex;
	align-items: center;
	background-color: #f4c6c6;
}

.top-header img {
	height: 30px;
	width: 40px;
}

.top-header span {
	margin-left: 3px;
	font-weight: 900;
	color: #2ea1d6;
}

.top-header-button {
	margin-left: auto;
}

.top-header-button a {
	margin-left: 5px;
	padding: 3px 10px;
	border: #c3c3c3;
	border-radius: 5px;
	background-color: #c3c3c3;
}

.schedule-view {
	float: left;
	display: inline-block;
	height: 95%;
	width: 29.5%;
	border: 1px solid #a4a4a4;
	background-color: white;
}

.schedule-view-main {
	height: 97%;
	background-color: #b8b8b8;
}

#schedule-date {
	font-size: 40px;
}

.schedule-space {
	margin-top: 20px;
}

.accordion-trigger {
	cursor: default;
	color: blue;
	font-size: 20px;
}

.accordion-trigger:hover {
	color: #0000CC;
	font-size: 21px;
}

.accordion-mark {
	display: inline-block;
}

.schedule-time {
	border-bottom: 1px solid blue;
	display: inline-block;
}

.accordion-content {
	margin: 10px 10px 0 20px;
	display: none;
}

.schedule-content {
	border: 1px solid black;
	font-size: 20px;
	height: 200px;
}

.schedule-button {
	margin: 10px 0 0 0;
	text-align: right;
}

.schedule-button a {
	width: 90px;
	padding: 5px
}

.calendar-view {
	float: right;
	display: inline-block;
	height: 95%;
	width: 70%;
	border: 1px solid #a4a4a4;
	position: relative;
}

.calendar-view-header {
	top: 20px;
	left: 50px;
	width:90%;
	position: absolute;
}

.month-view {
	display: inline-block;
}

.insert-schedule-button {
	float: right;
	display: inline-block;
}

.calendar-table {
	border-collapse: collapse;
	position: absolute;
	top: 60px;
	left: 50px;
	height: 80%;
	width: 90%;
	background-color: white;
	border: 2px solid black;
}

th {
	height: 8%;
	color: black;
	border: 2px solid black;
}

.sunday {
	background-color: #f79f81;
}
.monday {
	background-color: #848484;
}
.tuesday {
	background-color: #fe2e2e;
}
.wednesday {
	background-color: #81bef7;
}
.thursday {
	background-color: #31b404;
}
.friday {
	background-color: #ffff00;
}
.saturday {
	background-color: #dba901;
}

td {
	font-size: 30px;
	color: #0101ddf;
	vertical-align: top;
}

#date {
	background-color: #b8b8b8;
}

.button-area {
	margin-top: 10px;
}

.active-button {
	padding: 2px;
	font-size: 15px;
	border-radius: 5%;
	background-color: #81bef7;
	border :2px solid #81bef7;
}

.gray-button {
	padding: 2px;
	font-size: 15px;
	border-radius: 5%;
	color: black;
	background-color: #999999;
	border :2px solid #999999;
	text-decoration: none;
}

.gray-button:active {
	border :2px solid black;
}